<div class="card h-100" *ngIf="model">
    <div class="card-header">
        <h5 class="float-left text-truncate" title="{{ model.name }}">{{ model.name }}</h5>
        <a class="float-right text-dark" [routerLink]="'/companies/create/'+ model.id">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
    </div>

    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <li>Turno Actual <strong class="text-primary">{{ model.current }}</strong></li>
            <li>Turnos Entregados <strong class="text-primary">{{ model.next - model.current }}</strong></li>
            <li>Validos para el día {{ toDate(model.date) | date : 'dd/MM/yyyy' }}</li>
        </ul>

        <div class="card-text pt-3">
            <a [routerLink]="'/companies/my/'+ model.id" class="btn btn-secondary btn-block">ATENDER</a>
            <a *ngIf="isOpen" [routerLink]="'/companies/'+ model.id + '/tiket'" class="btn btn-primary btn-block">SACAR TURNO</a>
        </div>
    </div>
</div>