<a class="btn btn-secondary float-right" [routerLink]="'/companies/create/0'">
	<i class="fa fa-plus" aria-hidden="true"></i> <span class="d-none d-md-inline ml-2">Registrar comercio</span>
</a>

<!--<div class="card h-100 ">

    <div class="card-header">
        Registrar nuevo comercio
    </div>

    <div class="card-body text-center" style="font-size: 50px;">
        <a class="text-secondary" [routerLink]="'/companies/create/0'">
            <i class="fa fa-plus fa-10x" aria-hidden="true"></i>
        </a>
    </div>

</div>-->