<div class="row">
    <div class="col-md-8 mx-auto">

        <article class="card" *ngIf="model" >
            <div class="card-body text-center">
                <h1 class="card-title">{{ model.name }}</h1>
                <h2 class="card-subtitle text-muted">Turno Actual </h2>
                <h2 class="display-1">{{ model.current }}</h2>
                <p class="mt-3">
                    Turnos entregados <strong class="text-primary">{{ model.next - model.current }}</strong>
                </p>
                
                <div class="card bg-light mt-3 p-3">
                    <div *ngIf="model.businessHours && model.businessHours.length > 0">
                        <p>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span *ngFor="let item of model.businessHours; index as i">
                                {{ (i > 0 && model.businessHours.length > 1) ? 'y': '' }}
                                {{ item.from }} a {{ item.to }} hs.
                            </span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-around" *ngIf="model.weekdays && model.weekdays">
                        <div class="badge" [class.text-success]="model.weekdays.indexOf(0) > -1" >Lu</div>
                        <div class="badge" [class.text-success]="model.weekdays.indexOf(1) > -1" >Ma</div>
                        <div class="badge" [class.text-success]="model.weekdays.indexOf(2) > -1" >Mi</div>
                        <div class="badge" [class.text-success]="model.weekdays.indexOf(3) > -1" >Ju</div>
                        <div class="badge" [class.text-success]="model.weekdays.indexOf(4) > -1" >Vi</div>
                        <div class="badge" [class.text-success]="model.weekdays.indexOf(5) > -1" >Sa</div>
                        <div class="badge" [class.text-success]="model.weekdays.indexOf(6) > -1" >Do</div>
                    </div>
                </div>
                <p class="mt-3 mb-0" *ngIf="model?.notes">
                    <strong>Notas</strong> {{ model.notes }}
                </p>
                <button *ngIf="showSaveButton && !currentTicket" type="button" class="btn btn-primary btn-block btn-lg mt-3" (click)="takeTicket()">SACAR TURNO</button>
            </div>
        </article>

        <article id="print-section" class="card mt-3" #ticketCreated *ngIf="currentTicket">
            <div class="card-body text-center">

                <h1 class="card-title" *ngIf="!showSaveButton">{{ model.name }}</h1>

                <h2 class="card-subtitle text-muted">Tenés el Turno</h2>
                <h2 class="display-1">{{ currentTicket }}</h2>

                <h5>Código de Confirmación <span class="badge badge-secondary">{{ ticketCode }}</span></h5>

                <p *ngIf="delay && isOpen">
                    Tiempo de espera <span class="text-info">{{ delay }} minutos</span>
                </p>

                <div class="btn-group-margin mt-3" role="group">
                    <button *ngIf="showSaveButton && model" class="btn btn-secondary d-print-none" printTitle="alex.png" printSectionId="print-section" ngxPrint>IMPRIMIR</button>
                    <button *ngIf="showSaveButton" class="btn btn-secondary d-print-none" (click)="hideButtonAndScreenshot()">DESCARGAR</button>
                </div>

                <p class="mt-3 mb-0">
                    Válido durante el {{ toDate(date) | date: 'dd/MM/yyyy' }}
                </p>
            </div>
        </article>

        <div class="card" *ngIf="!model || !model?.name">
            <div class="card-body text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- <swal #confirmSwal title="¿Tomar siguiente turno?" icon="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="takeTicket()"></swal> -->

<div id="download" [hidden]="true">
    <img #canvas>
    <a #downloadLink></a>
</div>